@{
    ViewBag.Title = "Contact";
}
<h2 class="text-center">@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    123 Amazon Way<br />
    Amazon, WWW 98052-6399<br />
</address>

<address>
    <strong>
        <abbr title="Phone">Phone: </abbr>
    </strong>1800 Amazon Orders <br />
    <strong>Support: </strong><a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing: </strong><a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>