@using WebMatrix.Data

@{
    var db = Database.Open("AmazonOrders");
    var sql = "select * from items order by itemName asc";
    var data = db.Query(sql); 
}
<h2 class="text-center bg-light py-1 mt-2">All Products</h2>

<div class="row justify-content-center">
    @foreach (var each in data)
    {
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>

        <p>test</p>
        @each.itemname;

    }
</div>


